
.user-info {
  display: flex;
  transition: all 0.15s;
  user-select: none;
  align-items: center;
}

.user-info:hover {
  background: #e3fafc;
}

.user-id {
  flex: 1;
  text-align: center;
}

.user-email {
  flex: 1;
  text-align: center;
}

.user-name {
  flex: 1;
  text-align: center;
}

.delete-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
}
